<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>WarehousingServlet</servlet-name>
    <servlet-class>com.arun.servlet.WarehousingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WarehousingServlet</servlet-name>
    <url-pattern>/WarehousingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InventoryServlet</servlet-name>
    <servlet-class>com.arun.servlet.InventoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InventoryServlet</servlet-name>
    <url-pattern>/InventoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Itemservlet</servlet-name>
    <servlet-class>com.arun.servlet.Itemservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Itemservlet</servlet-name>
    <url-pattern>/Itemservlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>EWCheckingServlet</servlet-name>
    <servlet-class>com.arun.servlet.EWCheckingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EWCheckingServlet</servlet-name>
    <url-pattern>/EWCheckingServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Ch3 Beer</servlet-name>
    <servlet-class>com.arun.servlet.BeerSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ch3 Beer</servlet-name>
    <url-pattern>/SelectBeer.do</url-pattern>
  </servlet-mapping> 
  
  <init-param>
  	<param-name>adminEmail</param-name>
  	<param-value>lxtian@126.com</param-value>
  </init-param>
</web-app>